body {
    background-color: #BBBBEE;
    font-family:sans-serif;
}

h1, h3 {
    background-color: cornflowerblue;
    font-weight: bold;
    color: white;
    border: 2px solid white;
}

.sv {
    border: 2px solid blue;
    color: blue;
}

.svbild {
    background-repeat: repeat;
    background-image: url("img/schule.jpg");
    height: 150px;
}

.svsitzungen {
    list-style: square url("img/willkommen.jpg");
    color: blue;
}

.remund {
    color: cornflowerblue;
    text-decoration-line: unset;
}

.links {
    color: blue;
    list-style: square;
}

.links :hover {
    color: blue;
}

#copy {
    text-align: right;
    padding-bottom: 40px;
}